.container-fluid {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 768px;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container-fluid h5 {
  margin-top: 26px;
  margin-left: 62px;
  width: 355px;
  text-align: left;
  font-family: "nova-bold", sans-serif;
  letter-spacing: 0px;
  color: #1f1f1f;
  opacity: 1;
  margin-bottom: 26px;
}
#sub {
  font-size: 22px;
  margin-left: 62px;
  border: 1px solid #cccccc;
  opacity: 1;
  border: 1px;
}
.row hr {
  top: 136px;
  margin-left: 67px;
  width: 1235px;
  height: 0px;
  border: 1px solid #cccccc;
  opacity: 1;
}
