* {
  list-style-type: none;
  text-decoration: none;
}
.container-fluid {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: auto;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container-fluid h5 {
  margin-top: 26px;
  margin-left: 62px;
  width: 355px;
  text-align: left;
  letter-spacing: 0px;
  color: #1f1f1f;
  opacity: 1;
  font-weight: bold;
  margin-bottom: 32px;
  font-size: 26px;
}

.row hr{
  top: 136px;
  margin-left: 37px;
  margin-right: 35px;
  width: 1237px;
  height: 0px;
  border: 1px solid #cccccc;
  opacity: 1;
}
.row button {
  background-color: #725172;
  height: 44px;
  width: 169px;
  margin-left: 715px;
  margin-top: 15px;
  color: #ffffff;
}
#but {
  background-color: #ffffff;
  height: 44px;
  width: 103px;
  margin-left: 340px;
  margin-top: 15px;
  color: #725172;
  border: 1px solid #725172;
  border-radius: 6px;
}
#but2 {
  background-color: #725172;
  height: 44px;
  width: 84px;
  margin-left: 20px;
  margin-top: 15px;
  color:  #ffffff;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

#butc{
  background-color: #725172;
  position:absolute;
  margin-top:-145px;
  margin-left: 320px;
  height: 44px;
  width: 115px;
  color:  #ffffff;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

.info hr{
  margin-left: 20px;
  width:180px;
}
/* Products Grid */
.produtos-grid {
  display: grid;
  grid-gap: 16px;
  padding: 12px;
  grid-template-columns: auto auto auto auto;
  margin: auto;
}
.produtos-grid .image {
  width: 90%;
  border-radius: 5px;
  margin-top: 20px;

}
.produtos-grid img {
  width: 239px;
  height: 138px;
  margin-left: 25px;
}

.produtos-grid .box {
  width: 295px;
  height: 392px;
  box-shadow: 0 0 5px #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.726);
  position: relative;
  transition: 0.1s;
  margin: auto;
  flex-wrap: wrap;
}
 #descricao {
  margin-left: 30px;
  font-size: 16px;
  flex-wrap: wrap;
  text-align: start;
  color: #505050;
  opacity: 1;
}
.produtos-grid .info h5 {
  margin: 17px 20px 10px 30px;
  font-size: 18px;
}
.produtos-grid .info {
  width: 265px;
  bottom: 0px;
  padding-top: 5px;
  height: auto;
}
.produtos-grid .info #valor {
  font-size: 20px;
  text-align: start;
  font-weight: bold;
  color: #1f1f1f;
  margin-top: 10px;
  margin-left:30px;
}

.produtos-grid .info #btn2 {
  border: 1px solid #725172;
  border-radius: 30px;
  opacity: 1;
  height: 31px;
  padding-top: 5px;
  width: 99px;
  font-size: 14px;
  color: #725172;
  margin: auto;
}
#footer {
  bottom: 0;
  width: 100%;
  justify-content: flex-end;
}
.d-flex #footer2 {
  font-weight: bold;
  color: #393939;
  padding-bottom: 30px;
  margin-right: 30px;
  font-weight: 700;
}
.d-flex #footer1 {
  margin-bottom: 0px;
  margin-right: 32px;
}

.modal-header {
  width: 579px;
  background-color: white;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 5px;
  border-radius: 25px 15px 0px 0px;
  opacity: 1;
}
.modal-header p{
  margin-top: 20px;
  margin-left: 25px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
.btn-close{
  margin-right: 24.56px;
  margin-top: 21px;
}
.modal-body {
  width: 579px;
  background-color: white;
  height: 645px;
  border-radius: 0px 0px 15px 15px;
}

