<div class="container-fluid">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <h5>Meus Produtos.</h5>
    <button type="button" class="btn btn-primary" >Adicionar
      Produto</button>
    <hr>
  </div>


<div class="produtos-grid">
  <div class="box"
  *ngFor="let prod of allProdutosData">
    <div class="image">
        <img [src]="prod.imagem" alt="produtos">
    <div class="info">
      <h5>
        {{prod.nome}}
      </h5>
      <p id="descricao">
        {{prod.descricao}}
      </p>
      <p id="valor">
        {{prod.valor}}<br>
      </p>
      <div class="d-flex">
        <p id="btn" type="button">Apple</p>
        <p id="btn2" type="button">MacBook</p>
      </div>
  </div>
</div>
</div>
</div>
<div class="d-flex">
  <p>powered by</p>
  <h5>DOUBLEIT</h5>
</div>
</div>
