<div class="container-fluid">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <h5>Meus Produtos.</h5>
    <button (click)="clickAddprodutos()" type="submit" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addProduto">Adicionar Produto</button>
    <hr>
  </div>


<div class="produtos-grid">
  <div class="box"
  *ngFor="let prod of proList ">
    <div class="image">
      <popover-content #myPopover
      placement="left top"
      [animation]="true"
      [closeOnClickOutside]="true"
      [closeOnMouseOutside]="true">
     <i id="editar" (click)="editeProduto(prod)" class="fas fa-pen-square" data-bs-toggle="modal" data-bs-target="#editeProduto"><b>Editar</b></i>
     <hr>
     <i id="delete" data-bs-toggle="modal" data-bs-target="#deletar" class="fas fa-trash"><b>Excluir</b></i>
    </popover-content>
  </div>
  <img  [popoverOnHover]="false"  [popover]="myPopover" style="font-size:28px ; width:12px;height: 35px; margin-left: 120px;margin-top: -5px; position: absolute;" src="{{image}}" alt="produtos" >
    <div class="info">

          <img id="image"src = {{prod.image}} alt="produtos">
      <h5>
        {{prod.name}}
      </h5>
      <p id="descricao">
        {{prod.descricao}}
      </p>
      <p id="valor">
      R$ {{prod.preco}}<br>
      </p>
      <hr>
      <div class="d-flex">
        <p id="btn2">
          {{prod.categoria}}<br>
        </p>
      </div>
  </div>
  <!-- Modal Excluir -->
  <div class="modal fade" id="deletar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div id="modal-2" class="modal-header">
          <p class="modal-title" id="exampleModalLabel">Remover Produto.</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-dialog modal-dialog-centered">
         <p>Você realmente deseja excluir esse produto ?</p>

          <br><button id="btn1" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button id="btn2"(click)=" deleteProduto(prod)" type="button" class="btn btn-outline-secondary">Confirmar</button>
        </div>

      </div>
    </div>
  </div>
  </div>

  </div>


 <div class="d-flex" id="footer">
  <ul>
    <li><p id="footer1">powered by</p></li>
    <li><p id="footer2">DOUBLEIT</p></li>
  </ul>
 </div>


 <!-- addProduto Modal -->
 <div class="modal fade" id="addProduto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="modal-1" class="modal-header">
        <p class="modal-title" id="exampleModalLabel">Novo Produto.</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="proDetail">
          <div class="mb-1" style="margin-top: -15px;">
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="text" formControlName="name" class="form-control" placeholder="Nome" id="exampleInputEmail1" aria-describedby="emailHelp"required>
          </div>
          <div class="mb-1" >
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="text" style="height:88px;" formControlName="descricao" class="form-control" placeholder="Descrição" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-4"style="width:265px; float: left;">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="text" formControlName="preco" class="form-control" placeholder="Preco" id="exampleInputPassword1"required>
          </div>
          <div class="mb-4"style="width:265px; float: left;margin-left: 16px">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="text" formControlName="data" class="form-control" placeholder="Data Remessa" id="exampleInputPassword1"required>
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="text" formControlName="categoria" class="form-control" placeholder="Categoria" id="exampleInputPassword1"required>
          </div>
          <div class="mb-1"style="width:546px;height:246px; float: left;" >
            <input class="form-control" style="color:'#626262';font-size:16px;height:246px;font-family:Lucida Console;padding-left: 112px" type="name"  placeholder="Arraste uma imagem ou"
            formControlName="image" name="imagem"/>
            <button id="butc" class="btn btn-primary">Selecionar</button>
          </div>
        </form>
        <div class="footer">
          <button id="but" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button id="but2" type="button" class="btn btn-primary"(click)="addProduto()"data-bs-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- editarProduto Modal -->
<div class="modal fade" id="editeProduto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="modal-1" class="modal-header">
        <p class="modal-title" id="exampleModalLabel">Editar Produto.</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="proDetail">
          <div class="mb-1" style="margin-top: -15px;">
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="text" formControlName="name" class="form-control" placeholder="Nome" id="exampleInputEmail1" aria-describedby="emailHelp"required>
          </div>
          <div class="mb-1" >
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="text" style="height:88px;" formControlName="descricao" class="form-control" placeholder="Descrição" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-4"style="width:265px; float: left;">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="text" formControlName="preco" class="form-control" placeholder="Preco" id="exampleInputPassword1"required>
          </div>
          <div class="mb-4"style="width:265px; float: left;margin-left: 16px">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="text" formControlName="data" class="form-control" placeholder="Data Remessa" id="exampleInputPassword1"required>
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="text" formControlName="categoria" class="form-control" placeholder="Categoria" id="exampleInputPassword1"required>
          </div>
          <div class="mb-1"style="width:546px;height:246px; float: left;" >
            <input class="form-control" style="color:'#626262';font-size:16px;height:246px;font-family:Lucida Console;padding-left: 112px" type="name"  placeholder="Arraste uma imagem ou"
            formControlName="image" name="imagem"/>
            <button id="butc" class="btn btn-primary">Selecionar</button>
          </div>
        </form>
        <div class="footer">
          <button id="but" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button id="but2" type="button" class="btn btn-primary"(click)="updateProduto()"data-bs-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>




</div>


