<div class="container-fluid justify-content-md-center">
  <div class="row">
    <div id="card1">
    </div>
  </div>
  <div id="card2">
    <div class="col">
      <div class="login">
        <h1>Entre.</h1>
        <hr>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
       <div class="form-group" id="forms1">
        <input type="name" placeholder="Nome" class="form-control" formControlName="email" name="email" required/>
        </div>
       <div class="form-group" id="forms2">
        <input id="senha"type="password" id="password" placeholder="Senha" class="form-control"
        formControlName="password" name="senha" required />
      </div>
       <button type="submit" class="btn" value="ENTRAR" name="">ENTRAR</button>
     </form>
    </div>
  </div>
  <div class="d-flex">
    <ul>
      <li><p id="footer1">powered by</p></li>
      <li><p id="footer2">DOUBLEIT</p></li>
    </ul>
  </div>
</div>
